<ion-header >
  <ion-navbar color="danger">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Ordenes
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card *ngFor="let row of data" (click)="itemSelected(row)">
      <button ion-item>
          <ion-icon name="person" item-start></ion-icon>
          {{row.name}} {{row.last_name}} ({{row.document}})
          <p>{{row.created_at}}</p>
          <span item-end>{{row.status}}</span>
      </button>

      <ion-row no-padding *ngIf="row.status_id==1">
          <ion-col text-right>
            <button ion-button clear small color="danger" icon-start (click)="cancelOrder(row)">
              <ion-icon name='share-alt'></ion-icon>
              Cancelar
            </button>
          </ion-col>
        </ion-row>
    
  </ion-card>
        
<ion-fab bottom right>
  <button ion-fab color="danger" (click)="openModalOrder()"><ion-icon name="add" ></ion-icon></button>
</ion-fab>


</ion-content>
